<mat-dialog-content class="patient-settings">
    <app-ui-patient-header></app-ui-patient-header>
    <mat-checkbox color="accent">Setting 1</mat-checkbox>
    <mat-checkbox color="accent">Setting 2</mat-checkbox>
    <mat-checkbox color="accent">Setting 3</mat-checkbox>
    <mat-checkbox color="accent">Setting 4</mat-checkbox>
    <app-ui-patient-footer></app-ui-patient-footer>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button class="btn-primary" (click)="onDialogClose()">Close</button>
</mat-dialog-actions>
